{% extends 'base.html' %}

{% block head %}
<title>ds_pipe</title>
{% endblock %}


{% block body %}
    <h1>Results</h1>
    {% for table_ in tables %}
    <div class="container-fluid">
        {{table_ | safe}}
    </div>
    {% endfor %}
{% endblock %}

